body{
    font-family: 'Roboto', 'Arial';
    margin: 0;
    /* display: flex; */
}

#map img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
}

.loc-pic img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
}

.col-sm{
    background-color: gray;
    border-radius: 2rem;
    border: 3rem;
}
