h1 {
    font-family: 'Arial';
    color: white;
    background-color: rgb(94, 134, 162);
    padding: .5em;
  }

h2 {
  color:  rgb(94, 134, 162);
}

ol p{
  font-weight: 700;
}

ol p:hover {
  background-color: rgb(157, 198, 228);
}

p a:link {
  color: blue;
}

p a:hover {
  color: cyan
}

p a:visited {
  color: blueviolet;
}